<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Public Chat Rooms</h3>
  </div>
  <div class="panel-body">
    <div class='col-md-3'>
      <ul class="list-group" id="online-users">
        <li class="list-group-item">
          <span class="badge">14</span>
          Cras justo odio
        </li>   
      </ul>
      
    </div>
    <div class="col-md-9">
      
    </div>
  </div>
</div>